<mat-card>
  <mat-spinner *ngIf="isLoading"> </mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        ngModel
        type="email"
        placeholder="E-Mail"
        name="email"
        #emailInput="ngModel"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        name="password"
        ngModel
        #passwordInput="ngModel"
        required
        type="password"
        placeholder="Password"
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password</mat-error
      >
    </mat-form-field>
    <mat-card-actions>
      <button color="primary" mat-raised-button type="submit">Sign Up</button>
    </mat-card-actions>
  </form>
</mat-card>
